@model VocabularyWeb.Models.WordsViewModel
<h3>Vocabulary</h3>

<hr />
<p>
    <a href="@Url.Action("AddOrEdit", "Words")" class="btn btn-default"><i class="fa fa-plus"></i> Word</a>
</p>
@foreach(var item in ViewBag.Words)
{
    <div class="card card-border-success">
        <div class="card-body">
            <h5 class="card-title">@item.WordName</h5>
        <blockquote class="blockquote mb-0">
             <p>1. @item.Definition1</p>
             <p>2. @item.Definition2</p>
             <p>3. @item.Definition3</p>
            <footer class="blockquote-footer">@item.Sentence
                
            </footer>
        </blockquote>
        </div>
    </div>
    <br />
}

@*<script type="text/javascript">  
    $(document).ready(function() {
        function GetAllWords() {
            $.getJSON("/Words/GetAllWords", function(words) {
                $("#tblWords tbody tr").remove();
                $.map(words, function(word) {
                    $("#tblWords tbody tr").append("<tr>"
                        + "<td>" + word.WordId + "</td>"
                        + "<td>" + word.WordName + "</td>"
                        + "<td>" + word.Definition1 + "</td>"
                        + "<td>" + word.Definition2 + "</td>"
                        + "<td>" + word.Definition3 + "</td>"
                        + "<td>" + word.Sentence + "</td>"
                        + "<td>" +
                        "<button class='btn-success' onclick='Edit(" + word.WordId + ")' style='margin-right:5px;'>Edit</button>"
                        + "<button class='btn-success' onclick='Delete(" + word.WordId + ")'>Delete</button>"
                    );
                });
            });
        }

        function Edit(wordId) {
            if (wordId > 0) {
                $.getJSON("/Words/GetWordById?wordId=" + wordId, function(word) {
                    $("#txtWordId").val(word.wordId);
                    $("#txtWordName").val(word.WordName);
                    $("#txtDefinition1").val(word.Definition1);
                    $("#txtDefinition2").val(word.Definition2);
                    $("#txtDefinition3").val(word.Definition3);
                    $("#txtSentence").val(word.Sentence);
                });
            }
        }

        function Delete(wordId) {
            if (wordId > 0) {
                $.ajax({
                    url: '/Words/DeleteWord?wordId=' + wordId,
                    type: 'DELETE',
                    dataType: 'json',
                    success: function(data) {

                    },
                    error: function(err) {
                        console.log('Error Occured!');
                    }
                });
            }
        }

        $("#btnSubmit").click(function() {
            var _word = {
                WordId: $("#txtWordId").val(),
                WordName: $("#txtWordName").val(),
                Definition1: $("#txtDefinition1").val(),
                Definition2: $("#txtDefinition2").val(),
                Definition3: $("#txtDefinition3").val(),
                Sentence: $("#txtSentence").val(),
            };

            $.post("/Words/AddOrEditWord", _word).done(function(data) {
                GetAllWords
            });
        });

    });
</script>*@
