@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vocabulary</h1>
    <p>Keep your favourite words.</p>
</div>

<hr />

<div class="">
@foreach(var item in ViewBag.Words)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@item.WordName</h5>
        <blockquote class="blockquote mb-0">
                <p>1. @item.Definition1</p>
                <p>2. @item.Definition2</p>
                <p>3. @item.Definition3</p>
            <footer class="blockquote-footer">@item.Sentence</footer>
        </blockquote>
        </div>
    </div>
    <br />
}
</div>
